---
name: Run tests
on:
  pull_request:
  push:
    branches:
      - main
  schedule:
    - cron: "17 5 * * 2"

jobs:
  molecule:
    name: Molecule test
    runs-on: ubuntu-latest
    strategy:
      matrix:
        distro:
          - ubuntu:20.04
          - ubuntu:18.04
        ansible:
          - ansible
          - ansible==2.9.*
        postgresql:
          - 11
          - 12
          - 13
    steps:
      - name: Check out
        uses: actions/checkout@v2
      - name: Set up Python 3
        uses: actions/setup-python@v2
        with:
          python-version: '3.x'
      - name: Install test dependencies
        run: python3 -m pip install "${{ matrix.ansible }}" -Ur requirements-molecule.txt
      - name: Install ansible collections required for Ansible 2.9
        run: ansible-galaxy collection install community.docker
      - name: Run Molecule tests
        run: molecule test --all
        env:
          PY_COLORS: '1'  # for molecule
          ANSIBLE_FORCE_COLOR: 'True'
          MOLECULE_DISTRO: '${{ matrix.distro }}'
          POSTGRESQL_VERSION: '${{ matrix.postgresql }}'
